.head-butons {
  margin: 40px 50px 40px 50px;
  display: flex;
  justify-content: space-between;
}
.modal-main {
  margin: 35px 2px 35px 2px;
  text-align: center;
  font-size: 23px;
}
.modal-head {
  border: 2px solid #b7b7b7;
  text-align: center;
  margin-bottom: 10px;
}
.form-button{
  display: flex;
  gap: 5px;
}
.book-container{
  padding-bottom: 22px
}
.book-button{
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}
.boder{
  margin: 10px 100px 0px 100px;
  border: 2px solid black;
} 
