.login_container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.login_main {
  width: 95%;
  border: 2px solid;
  padding-bottom: 109px;
  box-shadow: 9px 8px #b7b7b7;
}
.login_main h1 {
  text-align: center;
  margin-bottom: 53px;
}
